.tab-btn {
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .tab-btn {
    min-width: 40px;
    min-height: 25px;
    font-family: 'Roboto';
    color: #0b69ff;
    font-weight: 500;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #0b69ff;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 7px;
  }
}

.book-shelf-tab-Item {
  margin-bottom: 10px;
  /* background-color: #0b69ff; */
}

.active-tab-btn {
  color: #0b69ff;
}

@media screen and (max-width: 767px) {
  .active-tab-btn {
    color: #ffffff;
    background-color: #0b69ff;
    border-radius: 15px;
  }
}
